/* global */
*{box-sizing: border-box;}

html {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Alata', 'Josefin Sans' sans-serif;
    color:#4a4b4c;
    background-color:#fff;
    flex-wrap: nowrap;
}
img{
    height:auto;
    max-width: 100%;   
}
*:focus{
    outline: 3px dashed skyblue;
    outline-offset: 2px;
}
.container{
    max-width: 1160px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header-wrapper {
    background-image: url(../img/Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.site-header {
    padding-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
    width: 192px;
    height: 32px;
    
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-list-item:not(:last-child) {
    padding-right: 32px;
}
.nav-links {
    text-decoration: none;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: border-bottom 0.5s ease;
}
.nav-links:hover{
    border-bottom: 2px solid #fff;   
}
.hero-content {
    border: 2px solid #FFFFFF;
    width: 650px;
    margin-top: 130px;
    margin-bottom: 146px;
}
.site-hero-theme {
    margin-top: 130px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding: 40px;    
}
/* main */
.site-main {
    background-image: url(../img/vr-man.png);
    background-repeat: no-repeat;
    margin-top: 160px;
    background-position: 20px 0;
    flex-grow: 1;
}
.interactive {
    background-color: #fff;
    width: 541px;
    padding: 96px 0 0 96px;
    margin-left: 570px;
    margin-top: 183px;
}
.interactive-theme {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}
.interactive-text {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding-top: 25px;
    opacity: 0.5;
}

.our-creations {
    margin-top: 184px;
    
}
.more {
    display: flex;
    align-items: center;
    
}

.gallery {
    margin-right: auto;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
}
.more-links{
    text-decoration: none;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    padding:13px 38px;
    border: 1px solid #000000;
    transition: 0.3s ease;
}
.more-links:hover{
    background-color: #000;
    color:#fff
}
.galery-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.gallery-list-item {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
}
.gallery-list-item-wrapper:not(:last-child){
    margin-right: 30px;
}
.gallery-list-item-wrapper {
    width: 256px;
    background-color: #555;
}
.gallery-theme {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-top: 354px;
    padding-left: 40px;
    padding-bottom: 32px;
}
.earth{
    background-image: url(../img/earth.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.object{
    background-image: url(../img/object.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.football{
    background-image: url(../img/football.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.car{
    background-image: url(../img/car.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.road{
    background-image: url(../img/road.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.sky{
    background-image: url(../img/sky.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.planet{
    background-image: url(../img/planet.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.circle{
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-size:cover;
}

/* footer */
.site-footer {
    background-color: #000;
    padding-top: 44px;
    padding-bottom: 44px;
    margin-top: 184px;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons {
    transition: border-bottom 0.4s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}
.icons:hover{
    border-bottom:2px solid #fff;
}
.icons:not(:last-child){
    margin-right: 16px;
}

.footer-nav-list {
    display: flex;
    padding: 0;
    list-style: none;
}
.footer-nav-list-item {
    margin: 0;
}
.footer-nav-links {
    text-decoration: none;
    margin-right: 32px;
    display: inline-block;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    
}
.footer-nav-links {
    transition: border-bottom 0.4s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}
.footer-nav-links:hover{
    border-bottom:2px solid #fff;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    align-items: center;
}
.rights{
    margin: 0;
}